<?xml version="1.0" encoding="UTF-8"?>

<configuration status="error" shutdownHook="disable">
    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss,SSS} [%thread] [%level] %logger{1.} - %msg%n"/>
        </Console>
        <!-- 按时间切分，也可以加入按大小切分 -->
        <RollingFile name="RollingFile" fileName="/home/xiaoju/logs/bigdata_driver_activity/fans-communitywx-admin/fans-communitywx-admin.log"
                     filePattern="/home/xiaoju/logs/bigdata_driver_activity/fans-communitywx-admin/fans-communitywx-admin.log.%d{yyyyMMdd}">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss,SSS} [%thread] [%level] %logger{1.} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <!-- 按时间切分，也可以加入按大小切分 -->
        <RollingFile name="AccessLogRollingFile" fileName="/home/xiaoju/logs/bigdata_driver_activity/fans-communitywx-admin/ei_access.log"
                     filePattern="/home/xiaoju/logs/bigdata_driver_activity/fans-communitywx-admin/ei_access.log.%d{yyyyMMdd}">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss,SSS} [%thread] [%level] %logger{1.} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="PublicRollingFile" fileName="/home/xiaoju/logs/bigdata_driver_activity/fans-communitywx-admin/public.log"
                     filePattern="/home/xiaoju/logs/bigdata_driver_activity/fans-communitywx-admin/public.log.%d{yyyyMMddHH}">
            <PatternLayout pattern="%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <logger name="com.xiaojukeji.fansCommunityadmin" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="thirdPartyReqLogger" level="INFO"/>
        <logger name="didiouterLogger" level="INFO"/>
        <logger name="com.xiaojukeji.fansCommunityadmin.rest.web.interceptor" level="INFO" additivity="false">
            <appender-ref ref="AccessLogRollingFile"/>
        </logger>
        <logger name="publicLogLogger" level="INFO" additivity="false">
            <appender-ref ref="PublicRollingFile" />
        </logger>
        <!--<logger name="org.springframework.kafka" level="DEBUG" />-->
        <!-- 
        <logger name="org.mybatis" level="DEBUG" />
        <logger name="java.sql" level="DEBUG"/>
         -->

        <!--建立一个默认的root的logger, 除了上面定义的logger，其他只有warn才会打印-->
        <root level="INFO">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>